<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    <style>

        html, body{
            margin: 0;
        }
        .my-card{
            height: auto;
            width: 350px;
        }
        /*.my-card__media {*/
            /*background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43d2818abd122c626a47a12ae53ca481&auto=format&fit=crop&w=1950&q=80");*/
        /*}*/

        .page__main-section{
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
        }

        .cb-card__primary{
            padding: 1rem;
        }
        .cb-card__secondary{
            padding: 1rem;
        }

        .mdc-grid-tile{
            --mdc-grid-list-tile-width: 300px;
        }

        nav a.sidenav-trigger{
            display: block;
        }

        nav .brand-logo {
            font-size: 1.5rem;
        }

        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            opacity: 1;
        }

        nav {
            color: #fff;
            background-color: #9ccc65;
        }

        .sidenav .user-view {
            position: relative;
            padding: 84px 32px 32px 32px;
            margin-bottom: 8px;
        }
        .nav-actions-list {
            margin: 2.8rem 0 1.68rem 0;
        }

        .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
            background-color: var(--mdc-theme-primary,##9ccc65);
            background-color: #6b9b37;
        }

        .category-name{
            margin: 1.8rem 0 0rem 0;
            text-transform: uppercase;
        }

        .recipe-description{
            margin: 2.8rem auto 1.68rem auto;
            max-width: 700px;
        }

        .recipe-box{
            margin-bottom: 4rem;
        }



    </style>
</head>
<div class="mdc-typography">
    {#<header class="mdc-top-app-bar">#}
        {#<div class="mdc-top-app-bar__row">#}
            {#<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">#}
                {#<a href="#" class="material-icons mdc-top-app-bar__navigation-icon menu">menu</a>#}
                {#<span class="mdc-top-app-bar__title">CookBook</span>#}
            {#</section>#}
        {#</div>#}
    {#</header>#}

    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="left sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="{{ path('recipes_index') }}" class="brand-logo">CookBook</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons">input</i></a></li>
            </ul>
        </div>
    </nav>


    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
                <div class="background">
                    <img src="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4fa061122a5ce899fcb5454dae8dbe99&auto=format&fit=crop&w=1950&q=80" style="width: 100%;">
                </div>
                <a href="#name"><span class="white-text name">John Doe</span></a>
            </div></li>
        <li><a href="{{ path('recipes_index') }}"><i class="material-icons">restaurant_menu</i>Recipes</a></li>
        <li><a href="{{ path('ingredients_index') }}"><i class="material-icons">local_florist</i>Ingredients</a></li>
        <li><a href="{{ path('categories_index') }}"><i class="material-icons">list</i>Categories</a></li>
        <li><a href="{{ path('photos_index') }}"><i class="material-icons">insert_photo</i>Photos</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Settings</a></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">settings</i>Settings</a></li>
    </ul>



    {#<aside class="mdc-drawer mdc-drawer--persistent mdc-typography">#}
        {#<nav class="mdc-drawer__drawer">#}
            {#<header class="mdc-drawer__header">#}
                {#<div class="mdc-drawer__header-content">#}
                    {#Header here#}
                {#</div>#}
            {#</header>#}
            {#<nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">#}
                {#<a class="mdc-list-item mdc-list-item--activated" href="#">#}
                    {#<i class="material-icons mdc-list-item__graphic" aria-hidden="true">restaurant_menu</i>Recipes#}
                {#</a>#}
                {#<a class="mdc-list-item" href="#">#}
                    {#<i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_florist</i>Ingredients#}
                {#</a>#}
                {#<a class="mdc-list-item" href="#">#}
                    {#<i class="material-icons mdc-list-item__graphic" aria-hidden="true">list</i>Categories#}
                {#</a>#}
                {#<a class="mdc-list-item" href="#">#}
                    {#<i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>Settings#}
                {#</a>#}
            {#</nav>#}
        {#</nav>#}
    {#</aside>#}

    <div>

        {% include 'default/_flash_messages.html.twig' %}

        <div class="page__main-section">

            <div class="mdc-grid-list">
                {% block body %}{% endblock %}
            </div>
        </div>

    </div>


    {% block javascripts %}
        {% javascripts  '../app/Resources/public/js/*' %}
            {#<script type="text/javascript" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>#}

            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script>
                // mdc.autoInit();
                // // var textFields = document.querySelectorAll('.mdc-text-field');
                // // const textField = new MDCTextField(document.querySelector('.mdc-text-field'));
                // import {MDCTextField} from '@material/textFields';
                // mdc.textFields.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
                // // for (var i = 0, tf; tf = textFields[i]; i++) {
                // //     mdc.textfield.MDCTextfield.attachTo(tf);
                // // }

                M.AutoInit();

                document.addEventListener('DOMContentLoaded', function() {

                    var elems = document.querySelectorAll('.sidenav');
                    var instances = M.Sidenav.init(elems, options);
                    var elems = document.querySelectorAll('.sidenav');
                    var instances = M.Sidenav.init(elems, options);
                });

        </script>
        <script></script>
        {% endjavascripts %}
    {% endblock %}

    </body>
</html>
