{% extends 'base.html.twig' %}

{% block title %}
    {% if page_title_param is defined %}{{ page_title|trans(page_title_param) }}{% else %}{{ page_title|trans }}{% endif %}
{% endblock %}

{% block body %}

    <h3 class="mdc-typography--headline4">
        {% if page_title_param is defined %}{{ page_title|trans(page_title_param) }}{% else %}{{ page_title|trans }}{% endif %}
    </h3>

    {{ form_start(form, { method: attr.method|default('post'), action: attr.action }) }}
    {% if false == form.vars.valid %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'danger',
            message: 'message.form_error',
        }%}
    {% endif %}
    <div class="">

    {{ form_widget(form) }}
    </div>

    <div>
        <input type="submit" value="{{ submit_label|default('action.save'|trans) }}" class="waves-effect waves-light btn" />
    </div>


    {% if back_to_list_path|default(false) %}
        <div>
            <a href="{{ path(back_to_list_path) }}" class="mdc-button">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}