{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.cingredients'|trans }}
{% endblock %}

{% block body %}

    <h1>{{ 'title.ingredients'|trans }}</h1>

    {% if ingredient is defined and ingredient|length %}


        <div class="mdc-chip-set">
            <div class="mdc-chip" tabindex="0">
                <div class="mdc-chip__text">{{ ingredient.name }}</div>
            </div>
        </div>

        <a href="{{ url('categories_index') }}" class="mdc-button">
            <i class="material-icons mdc-button__icon" aria-hidden="true">keyboard_backspace</i>
            all ingredients
        </a>



    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}
