{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.make_admin'|trans }}
{% endblock %}

{% block body %}
    <div class="row">

        <h1 class="page-header">{{ 'title.make_admin'|trans }}
        </h1>

        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn button--success" />
            {{ form_end(form) }}
        </div>
        <a class="button--link" href="{{ url('users_index') }}">{{ 'action.back_to_list'|trans }}</a>

    </div>

{% endblock %}
