{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photos'|trans }}
{% endblock %}

{% block body %}

    <h1 class="mdc-typography--headline4">{{ 'title.photos'|trans }}</h1>

    {% if photos is defined and photos|length %}

        <a class="mdc-grid-list">
            <ul class="mdc-grid-list__tiles">
                {% for item in photos %}
                    <li class="mdc-grid-tile">
                        <a href="{{ path('photos_view', {'id': item.id}) }}" class="mdc-card">

                            <div class="mdc-card__media my-card__media mdc-card__media mdc-card__media--16-9" style="background-image: url({{   asset('uploads/photos/' ~ item.photo) }});">

                            </div>

                        </a>
                   </li>
                {% endfor %}
            </ul>
        </div>

        <div class="navigation text-center">
            {{ pagerfanta(photos, 'twitter_bootstrap3_translated', { routeName: ('photos_index_paginated') }) }}
        </div>


    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}