{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photos'|trans }}
{% endblock %}

{% block body %}

    <h1>{{ 'title.photos'|trans }}</h1>

    {% if photo is defined and photo|length %}

        <li class="mdc-grid-tile">

                <div class="mdc-card__media my-card__media mdc-card__media mdc-card__media--16-9">
                </div>

                <div class="cb-card__primary">
                    <div class="cb__title mdc-typography--headline6">{{ photo.name }}</div>
                </div>

                <img class="photos" src="{{  asset('uploads/photos/' ~ photo.photo) }}" alt="{{ photo.name }}" style="max-width: 600px;">

                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button">View</button>
                    </div>
                    <div class="mdc-card__action-icons">
                        <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Share">share</i>
                        <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="More options">more_vert</i>
                    </div>
                </div>

            {% if recipes is defined and recipes|length %}
                lu
                {% for recipe in recipes %}
                    <li>{{ recipe.title }}</li>
                {% endfor %}
            {% else %}
                <p>bla bla bla</p>
            {% endif %}

        </li>



    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}
