{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_view'|trans }}
{% endblock %}

{% block body %}



    {% if recipe is defined and recipe|length %}



        <div class="recipe-box">

            <div class="mdc-typography--headline7 category-name">{{ category.name }}</div>

            <div class="row">
                <div class="col s6">
                    <h1 class="mdc-typography--headline4">{{ recipe.title }}</h1>
                    <p classes="mdc-typography--headline6">by @{{ recipe.user }}</p>
                </div>
                {% if is_granted('ROLE_SUPER_ADMIN') or recipe.user.id == app.user.id%}
                <div class="col s6 nav-actions-list right">
                    <a href="{{ path('recipes_edit', {'id': recipe.id}) }}" class="mdc-button right" title="{{ 'action.edit'|trans }}">
                        {{ 'action.edit'|trans }}
                    </a>
                    <a href="{{ path('recipes_delete', {'id': recipe.id}) }}" class="mdc-button right" title="{{ 'action.delete'|trans }}">
                        {{ 'action.delete'|trans }}
                    </a>
                </div>
                {% endif %}
            </div>

            {% if photos is defined and photos|length %}
                {% for photo in photos %}
                    <img class="materialboxed center" style="max-width: 100%;" src="{{  asset('uploads/photos/' ~ photo.photo) }}">

                {% endfor %}
            {% endif %}



                <div class="row">

                    <h3 class="mdc-typography--headline5">Ingredients</h3>
                    <div class="mdc-chip-set">
                        {% for ingredient in ingredients %}
                            <div class="mdc-chip" tabindex="0">
                                <div class="mdc-chip__text">{{ ingredient.name }}</div>
                            </div>
                        {% endfor %}
                    </div>


                    <h3 class="mdc-typography--headline5">Description</h3>
                    <div class="mdc-typography--body1 recipe-description">{{ recipe.description }}</div>

                    {#{% for key, value in recipe.category %}#}
                    {#<div class="mdc-typography--body2">{{ value }}</div>#}
                    {#{% endfor %}#}
                </div>

        </div>



    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}
