{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipes'|trans }}
{% endblock %}

{% block body %}



    {% if recipe is defined and recipe|length %}

        <li class="mdc-grid-tile">

            <h1 class="mdc-typography--headline4">{{ recipe.title }}</h1>

                <div class="cb-card__secondary">
                    <div class="mdc-typography--body2">CATEGORY: {{ category.name }}</div>
                    <div class="mdc-typography--body2">{{ recipe.description }}</div>
                    <div class="mdc-chip-set">
                        {% for ingredient in ingredients %}
                            <div class="mdc-chip" tabindex="0">
                                <div class="mdc-chip__text">{{ ingredient.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {#{% for key, value in recipe.category %}#}
                    {#<div class="mdc-typography--body2">{{ value }}</div>#}
                    {#{% endfor %}#}
                </div>

                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button">View</button>
                    </div>
                    <div class="mdc-card__action-icons">
                        <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Share">share</i>
                        <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="More options">more_vert</i>
                    </div>
                </div>

        </li>



    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}
